dataset/
runs/

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app


build/
Build/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json
generated/
external/

.vscode/

.DS_Store

